@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');
body{
    font-family: "Jacquard 12", system-ui !important;
  }
.kép{
    float: right;
}
.maindiv{
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 200px 200px 200px;
        justify-content: center;
        justify-items: center;
        align-items: center;
}
.innerdiv{
    width: 400px;
    height: 200px;
}
.innerdiv{
justify-content: right;
}
.cucc{
    float: right;
}